<div>
    <ul>
        {% for module in modules %}
        <li>
            <a href="{{ module.url }}">
                <i class="{{ module.icon }}"> {{ module.fullname }} </i>
            </a>
            <ul>
            {% for child in module.childs %}
                 <a href="{{ child.url }}">
                    <i class="{{ child.icon }}"> {{ '-'*5 }}{{ child.fullname }} </i>
                </a>
            {% end %}
            </ul>
        </li>
        {% end %}
    </ul>
</div>